https://py4etrics.github.io/index.html

In [1]:
import pandas as pd

# url の設定
url = 'https://raw.githubusercontent.com/Haruyama-KobeU/Py4Basics/master/data/data1.csv'

# 読み込み
df = pd.read_csv(url)

In [10]:
df.info()
df.set_index("year").describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    11 non-null     int64
 1   gdp     11 non-null     int64
 2   inv     10 non-null     float64
 3   con     9 non-null      float64
 4   pop     11 non-null     int64
 5   id      11 non-null     object
dtypes: float64(2), int64(3), object(1)
memory usage: 656.0+ bytes

              gdp        inv        con        pop
count   11.000000  10.000000   9.000000  11.000000
mean   124.818182  41.500000  67.777778  14.090909
std     40.715644  16.473885   6.666667   4.482288
min     93.000000  20.000000  59.000000   8.000000
25%    100.000000  26.250000  63.000000  10.500000
50%    113.000000  44.500000  70.000000  14.000000
75%    118.500000  54.500000  71.000000  17.500000
max    210.000000  62.000000  80.000000  21.000000

In [13]:
df.to_numpy()
df.columns

Index(['year', 'gdp', 'inv', 'con', 'pop', 'id'], dtype='object')