In [1]:
import numpy as np
from scipy.stats import norm, gaussian_kde
import matplotlib.pyplot as plt
import pandas as pd
from linearmodels.panel.data import PanelData
from linearmodels.panel import PanelOLS, PooledOLS, RandomEffects, compare
from collections import OrderedDict
import wooldridge
from statsmodels.formula.api import ols

# 警告メッセージを非表示
import warnings
warnings.filterwarnings("ignore")

In [2]:
# url の設定
url = 'https://raw.githubusercontent.com/Haruyama-KobeU/Haruyama-KobeU.github.io/master/data/data4.csv'

# 読み込み
df = pd.read_csv(url)
df = df.set_index(['country', 'year']).sort_index()

In [10]:
df_panel = PanelData(df)

df_panel.isnull

country    year
Australia  2000    False
           2001    False
           2002     True
Japan      2000    False
           2001    False
           2002    False
UK         2000    False
           2001    False
           2002     True
dtype: bool

In [9]:
df_panel.first_difference()

PanelData
                 gdp   inv   con  pop
country   year
Australia 2001  10.0  10.0  30.0  1.0
Japan     2001  -5.0   5.0 -10.0  1.0
          2002  -2.0  -4.0   2.0  1.0
UK        2001  10.0   9.0   1.0  1.0
PanelData object, id: 0x7f27717e6710

In [12]:
formula = 'lcrmrte ~ d82 + d83 + d84 + d85 + d86 + d87 + lprbarr + \
                lprbconv + lprbpris + lavgsen + lpolpc'


mod_dif = FirstDifferenceOLS.from_formula(formula,\
                                           data=wooldridge.data('crime4').set_index(['county','year']))

In [13]:
res_dif = mod_dif.fit()

print(res_dif.summary)

                     FirstDifferenceOLS Estimation Summary
================================================================================
Dep. Variable:                lcrmrte   R-squared:                        0.4326
Estimator:         FirstDifferenceOLS   R-squared (Between):              0.7834
No. Observations:                 540   R-squared (Within):               0.4281
Date:                Fri, Aug 04 2023   R-squared (Overall):              0.7826
Time:                        15:00:04   Log-likelihood                    248.48
Cov. Estimator:            Unadjusted
                                        F-statistic:                      36.661
Entities:                          90   P-value                           0.0000
Avg Obs:                       7.0000   Distribution:                  F(11,529)
Min Obs:                       7.0000
Max Obs:                       7.0000   F-statistic (robust):             36.661
                                        P-value                           0.0000
Time periods:                       7   Distribution:                  F(11,529)
Avg Obs:                       90.000
Min Obs:                       90.000
Max Obs:                       90.000

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
d82            0.0077     0.0171     0.4522     0.6513     -0.0258      0.0412
d83           -0.0844     0.0235    -3.5998     0.0003     -0.1305     -0.0384
d84           -0.1247     0.0287    -4.3366     0.0000     -0.1811     -0.0682
d85           -0.1216     0.0331    -3.6670     0.0003     -0.1867     -0.0564
d86           -0.0863     0.0367    -2.3539     0.0189     -0.1584     -0.0143
d87           -0.0378     0.0400    -0.9455     0.3448     -0.1163      0.0407
lprbarr       -0.3275     0.0300    -10.924     0.0000     -0.3864     -0.2686
lprbconv      -0.2381     0.0182    -13.058     0.0000     -0.2739     -0.2023
lprbpris      -0.1650     0.0260    -6.3555     0.0000     -0.2161     -0.1140
lavgsen       -0.0218     0.0221    -0.9850     0.3250     -0.0652      0.0216
lpolpc         0.3984     0.0269     14.821     0.0000      0.3456      0.4512
==============================================================================

# 固定効果モデルについて考える
- あとランダムと相関ランダムモデルも

In [18]:
wagepan = wooldridge.data('wagepan')
# wooldridge.data('wagepan', description=True)

wagepan = wooldridge.data('wagepan').\
    set_index(['nr','year'],drop=False)

wagepan = PanelData(wagepan)

wagepan

PanelData
                 nr    year  agric  black  bus  construc  ent  exper  fin  \
nr    year
13    1980     13.0  1980.0    0.0    0.0  1.0       0.0  0.0    1.0  0.0
      1981     13.0  1981.0    0.0    0.0  0.0       0.0  0.0    2.0  0.0
      1982     13.0  1982.0    0.0    0.0  1.0       0.0  0.0    3.0  0.0
      1983     13.0  1983.0    0.0    0.0  1.0       0.0  0.0    4.0  0.0
      1984     13.0  1984.0    0.0    0.0  0.0       0.0  0.0    5.0  0.0
...             ...     ...    ...    ...  ...       ...  ...    ...  ...
12548 1983  12548.0  1983.0    0.0    0.0  0.0       1.0  0.0    8.0  0.0
      1984  12548.0  1984.0    0.0    0.0  0.0       1.0  0.0    9.0  0.0
      1985  12548.0  1985.0    0.0    0.0  0.0       1.0  0.0   10.0  0.0
      1986  12548.0  1986.0    0.0    0.0  0.0       0.0  0.0   11.0  0.0
      1987  12548.0  1987.0    0.0    0.0  0.0       0.0  0.0   12.0  0.0

            hisp  ...  union     lwage  d81  d82  d83  d84  d85  d86  d87  \
nr    year        ...
13    1980   0.0  ...    0.0  1.197540  0.0  0.0  0.0  0.0  0.0  0.0  0.0
      1981   0.0  ...    1.0  1.853060  1.0  0.0  0.0  0.0  0.0  0.0  0.0
      1982   0.0  ...    0.0  1.344462  0.0  1.0  0.0  0.0  0.0  0.0  0.0
      1983   0.0  ...    0.0  1.433213  0.0  0.0  1.0  0.0  0.0  0.0  0.0
      1984   0.0  ...    0.0  1.568125  0.0  0.0  0.0  1.0  0.0  0.0  0.0
...          ...  ...    ...       ...  ...  ...  ...  ...  ...  ...  ...
12548 1983   0.0  ...    0.0  1.591879  0.0  0.0  1.0  0.0  0.0  0.0  0.0
      1984   0.0  ...    1.0  1.212543  0.0  0.0  0.0  1.0  0.0  0.0  0.0
      1985   0.0  ...    0.0  1.765962  0.0  0.0  0.0  0.0  1.0  0.0  0.0
      1986   0.0  ...    1.0  1.745894  0.0  0.0  0.0  0.0  0.0  1.0  0.0
      1987   0.0  ...    1.0  1.466543  0.0  0.0  0.0  0.0  0.0  0.0  1.0

            expersq
nr    year
13    1980      1.0
      1981      4.0
      1982      9.0
      1983     16.0
      1984     25.0
...             ...
12548 1983     64.0
      1984     81.0
      1985    100.0
      1986    121.0
      1987    144.0

[4360 rows x 44 columns]
PanelData object, id: 0x7f2707bb26e0

In [22]:
formula_fe = 'lwage ~ married + union + expersq \
                      +d81+d82+d83+d84+d85+d86+d87 + EntityEffects'

mod_fe = PanelOLS.from_formula(formula_fe, data=wagepan)
result_fe = mod_fe.fit()

print(result_fe.summary)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                  lwage   R-squared:                        0.1806
Estimator:                   PanelOLS   R-squared (Between):              0.2386
No. Observations:                4360   R-squared (Within):               0.1806
Date:                Fri, Aug 04 2023   R-squared (Overall):              0.2361
Time:                        15:54:56   Log-likelihood                   -1324.8
Cov. Estimator:            Unadjusted
                                        F-statistic:                      83.851
Entities:                         545   P-value                           0.0000
Avg Obs:                       8.0000   Distribution:                 F(10,3805)
Min Obs:                       8.0000
Max Obs:                       8.0000   F-statistic (robust):             83.851
                                        P-value                           0.0000
Time periods:                       8   Distribution:                 F(10,3805)
Avg Obs:                       545.00
Min Obs:                       545.00
Max Obs:                       545.00

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
married        0.0467     0.0183     2.5494     0.0108      0.0108      0.0826
union          0.0800     0.0193     4.1430     0.0000      0.0421      0.1179
expersq       -0.0052     0.0007    -7.3612     0.0000     -0.0066     -0.0038
d81            0.1512     0.0219     6.8883     0.0000      0.1082      0.1942
d82            0.2530     0.0244     10.360     0.0000      0.2051      0.3008
d83            0.3544     0.0292     12.121     0.0000      0.2971      0.4118
d84            0.4901     0.0362     13.529     0.0000      0.4191      0.5611
d85            0.6175     0.0452     13.648     0.0000      0.5288      0.7062
d86            0.7655     0.0561     13.638     0.0000      0.6555      0.8755
d87            0.9250     0.0688     13.450     0.0000      0.7902      1.0599
==============================================================================

F-test for Poolability: 9.1568
P-value: 0.0000
Distribution: F(544,3805)

Included effects: Entity

推定

exper，educ，black，hispを加えて回帰式を定義する。

（注意）

時間ダミー変数の代わりにTimeEffectsを使わないように。入れることができますが，そのような仕様になっていません。

In [24]:
formula_re = 'lwage ~ 1 + married + union + expersq \
                        + exper + educ + black + hisp \
                        +d81+d82+d83+d84+d85+d86+d87'

result_re = RandomEffects.from_formula(formula_re, data=wagepan).fit()
print(result_re.summary.tables[1])

result_re.variance_decomposition

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
Intercept      0.0234     0.1514     0.1546     0.8771     -0.2735      0.3203
married        0.0638     0.0168     3.8035     0.0001      0.0309      0.0967
union          0.1059     0.0179     5.9289     0.0000      0.0709      0.1409
expersq       -0.0047     0.0007    -6.8623     0.0000     -0.0061     -0.0034
exper          0.1058     0.0154     6.8706     0.0000      0.0756      0.1361
educ           0.0919     0.0107     8.5744     0.0000      0.0709      0.1129
black         -0.1394     0.0480    -2.9054     0.0037     -0.2334     -0.0453
hisp           0.0217     0.0428     0.5078     0.6116     -0.0622      0.1057
d81            0.0404     0.0247     1.6362     0.1019     -0.0080      0.0889
d82            0.0309     0.0324     0.9519     0.3412     -0.0327      0.0944
d83            0.0202     0.0417     0.4840     0.6284     -0.0616      0.1020
d84            0.0430     0.0515     0.8350     0.4037     -0.0580      0.1440
d85            0.0577     0.0615     0.9383     0.3482     -0.0629      0.1782
d86            0.0918     0.0716     1.2834     0.1994     -0.0485      0.2321
d87            0.1348     0.0817     1.6504     0.0989     -0.0253      0.2950
==============================================================================

Effects                   0.106946
Residual                  0.123324
Percent due to Effects    0.464438
Name: Variance Decomposition, dtype: float64